<h1>Edit Recipe</h1>
<table>
    <tr>
        <td>Title</td>
        <td>
            <input type="text" [(ngModel)]="details.title" />
        </td>
    </tr>
    <tr>
        <td>Description</td>
        <td>
            <input type="text" [(ngModel)]="details.description" />
        </td>
    </tr>
    <tr>
        <td>Ingredients</td>
        <td>
            <input type="text" [(ngModel)]="details.ingredients" />
        </td>
    </tr>
    <tr>
        <td>Process</td>
        <td>
            <input type="text" [(ngModel)]="details.process" />
        </td>
    </tr>
    <tr>
        <td>Youtube Link</td>
        <td>
            <input type="text" [(ngModel)]="details.youTubeLink" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button type="button" (click)="editRecipeDetails()">Update</button>
        </td>
    </tr>
</table>